h1 {
    color: #4fe0c9;
}
h2 {
    color: rgb(255, 255, 255)
}
h3 {
    color: rgb(224, 224, 224);
}
p {
    color: rgb(165, 165, 165);
}
li {
    color: #4fe0c9;
}

.close-icon {
    color: #4ef0c9;
    cursor: pointer;
}
