h1 {
    color: #4fe0c9;
}
h2 {
    color: rgb(255, 255, 255)
}
h3 {
    color: rgb(224, 224, 224);
}
p {
    color: rgb(165, 165, 165);
}
li {
    color: #4fe0c9;
}

.close-icon {
    color: #4ef0c9;
    cursor: pointer;
}

#content-privacy {
    opacity: 0;
    animation: swing-content-privacy 0.6s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes swing-content-privacy {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}