<div class="row landing-view">
    <div class="col-md-12">
        <video autoplay="true" muted="true" loop="true" id="gallery-video">
            <source src="../../../assets/gallery.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>Sign up to receive details on when AR.t launches, and receive exclusive access to our Beta phase.</h1>
            <button (click)="enterEmail()" class="center">Enter Email</button>
            <br>
            <p style="cursor: pointer; text-decoration: underline; color: #4fe0c9;" 
                (click)="openPrivacy()" class="center privacy">Privacy Policy</p>
        </div>
    </div>
</div>