/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.76) !important;
    backdrop-filter: blur(5px)
}

mat-form-field {
    
    color: white !important;

    input {
        color: white !important;
    }
}
